body {
    /*font-size: 1rem;*/
    margin: 0;
    padding: 0;
    /*background-color: #f9f9f9;*/
    background-color: #f1f6fc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*transform: scale(0.75);*/
    /*transform-origin: top center;*/


}

.sidebar {
    margin: 0;
    padding: 0;
    width: 264px;
    background-color: #448efc;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h5 {
    letter-spacing: 5px;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;

}

.sidebar a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: left;
}

.sidebar a.active {
    background-color: white;
    color: #448efc;
}

.sidebar a:hover:not(.active) {
    background-color: white;
    color: #448efc;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


#a1_title_sidebar:before {
    background: url(icon/sidebar/overall_performance_white_icon.png);
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px 17px;
}

#a1_title_sidebar:hover:before {
    background: url(icon/sidebar/overall_performance_icon.png);
    background-repeat: no-repeat;
    background-size: 16px 17px;
}


#a2_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(icon/sidebar/bot_performance_outcome_white_icon.png);
    background-repeat: no-repeat;
    background-size: 17px 20px;
}

#a2_title_sidebar:hover:before {
    background: url(icon/sidebar/bot_performance_outcome_icon.png);
    background-repeat: no-repeat;
    background-size: 17px 20px;
}

#a3_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(icon/sidebar/bot_performance_uc_white_icon.png);
    background-repeat: no-repeat;
    background-size: 24px 25px;
}

#a3_title_sidebar:hover:before {
    background: url(icon/sidebar/bot_performance_uc_icon.png);
    background-repeat: no-repeat;
    background-size: 24px 25px;
}

#a4_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 22px;
    background: url(icon/sidebar/outcome_of_uc_white_icon.png);
    background-repeat: no-repeat;
    background-size: 19px 21px;
}

#a4_title_sidebar:hover:before {
    background: url(icon/sidebar/outcome_of_uc_icon.png);
    background-repeat: no-repeat;
    background-size: 19px 21px;
}

#page_content_and_graph {
    margin-left: 340px;
    margin-right: 75px;
    padding-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;

}

#part_1_title {
    font-size: 30px;
    padding-left: 15px;
}

.part_1_subtitle {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
}

.basic-metrics {
    padding-top: 22px;
    display: flex;
}

.sub_basic_metrics {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #bebebe;
    height: 120px;
}

.sub_basic_metrics_img {
    padding-top: 31px;
    padding-left: 13px;
}

.sub_basic_metrics_text {
    padding-left: 19px;
    display: inline;
    font-size: 19px;
}