body {
    /*font-size: 1rem;*/
    margin: 0;
    padding: 0;
    /*background-color: #f9f9f9;*/
    background-color: #f1f6fc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*transform: scale(0.75);*/
    /*transform-origin: top center;*/


}

html {
    scroll-behavior: smooth;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 16.3%;
    background-color: #448efc;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h5 {
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;

}

.sidebar a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: left;
}

.sidebar a.active {
    background-color: white;
    color: #448efc;
}

.sidebar a:hover:not(.active) {
    background-color: white;
    color: #448efc;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


#a1_title_sidebar:before {
    /*content: attr(data-before);*/
    background: url(icon/sidebar/overall_performance_white_icon.png);
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 16px 17px;
}

#a1_title_sidebar:hover:before {
    background: url(icon/sidebar/overall_performance_icon.png);
    background-repeat: no-repeat;
    background-size: 16px 17px;
}

#a2_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(icon/sidebar/bot_performance_outcome_white_icon.png);
    background-repeat: no-repeat;
    background-size: 17px 20px;
}

#a2_title_sidebar:hover:before {
    background: url(icon/sidebar/bot_performance_outcome_icon.png);
    background-repeat: no-repeat;
    background-size: 17px 20px;
}

#a3_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(icon/sidebar/bot_performance_uc_white_icon.png);
    background-repeat: no-repeat;
    background-size: 24px 25px;
}

#a3_title_sidebar:hover:before {
    background: url(icon/sidebar/bot_performance_uc_icon.png);
    background-repeat: no-repeat;
    background-size: 24px 25px;
}

#a4_title_sidebar:before {
    margin: 0 6px 0 0;
    position: sticky;
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 22px;
    background: url(icon/sidebar/outcome_of_uc_white_icon.png);
    background-repeat: no-repeat;
    background-size: 19px 21px;
}

#a4_title_sidebar:hover:before {
    background: url(icon/sidebar/outcome_of_uc_icon.png);
    background-repeat: no-repeat;
    background-size: 19px 21px;
}

#page_content_and_graph {
    margin-left: 20.5%;
    margin-right: 75px;
    padding-top: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

.big-title {
    font-size: 30px;
    padding-left: 15px;
}

.sub-title {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
}

#part_1_title {
    font-size: 30px;
    padding-left: 15px;
}

.part_1_subtitle {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
}

.part-1-graph-responsive{
    height: 15rem;
}

.basic-metrics {
    padding-top: 22px;
    display: flex;
}

.sub_basic_metrics {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #bebebe;
    height: 102%;
    width: 100%;
}

.sub_basic_metrics_img {
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.sub_basic_metrics_text {
    padding-left: 19px;
    display: inline;
    font-size: 19px;
}

#date_picker_and_run {
    padding-top: 20px;
    padding-left: 16px;
}

#show_table_and_filter_outcome {
    padding-top: 20px;
    padding-left: 16px;
}

#show_table_and_filter_usecase {
    padding-top: 20px;
    padding-left: 16px;
}

#part_2_title {
    padding-top: 25px;
}

#part_3_title {
    padding-top: 25px;
}

.metrics-graph {
    height: 100%;
    width: 103%;
}

.line-3-graph {
    position: relative;
    top: -0.3rem;
}

/*.line-2-graph {*/
/*    position: relative;*/
/*    top: 1rem;*/
/*    left: 2.8rem;*/
/*}*/

#no_users_lastweek {
    margin-left: 3%;
}

#success_rate_lastweek {
    margin-left: 5%;
}

#no_users_in_period {
    margin-left: 3%;
}

#success_rate_in_period {
    margin-left: 5%;
}

#no_users_by_month {
    margin-left: 1%;
}

#success_rate_by_month {
    margin-left: 2%;
}


.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 116px;
    vertical-align: middle;
    border-radius: 5px;
}


.DateInput_input {
    font-weight: 200;
    font-size: 12px;
    line-height: 0px;
    color: #484848;
    background-color: #ffffff;
    width: 100%;
    padding: 7px 8px 7px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 5px;
}

.SingleDatePickerInput__withBorder {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}

#my_date_picker_end:after {
    margin: 10% 0 0 -26%;
    content: "";
    display: block;
    position: relative;
    float: left;
    width: 11%;
    height: 0.5rem;
    background: url(icon/datepicker/datepicker_dropdown.png);
    background-repeat: no-repeat;
    background-size: 0.75rem 0.5rem;
    left: 107%;
}

#my_date_picker_start:after {
    margin: 10% 0 0 -26%;
    content: "";
    display: block;
    position: relative;
    float: left;
    width: 11%;
    height: 0.5rem;
    background: url(icon/datepicker/datepicker_dropdown.png);
    background-repeat: no-repeat;
    background-size: 0.75rem 0.5rem;
    left: 107%;
}

#no_outcome_bar {
    width: 95%;
    height: 22.2rem;
}

#percent_outcome_pie {
    width: 101%;
    margin-left: 3%;
    height: 22.2rem;
}

#no_usecase_bar {
    width: 95%;
    height: 22.2rem;
}

#percent_usecase_pie {
    width: 101%;
    margin-left: 3%;
    height: 22.1rem;
}

#no_outcome_bar_fig {
    position: relative;
    top: 1rem;
    left: 1.9rem;
}

#percent_outcome_pie_fig {
    position: relative;
    top: -1rem;
    left: -0.2rem;
}

#no_usecase_bar_fig {
    position: relative;
    top: 1rem;
    left: 1.9rem;
}

#percent_usecase_pie_fig {
    position: relative;
    top: -1rem;
    left: -0.2rem;
}

.first-col {
    padding-left: 0;
    padding-right: 3.2%;
    padding-bottom: 22.7%;
    height: 93%;
}

.second-col {
    padding-left: 0;
    margin-left: -0.8%;
    padding-right: 0.6%;
    padding-bottom: 22.7%;
    height: 93%;
}

.third-col {
    padding-left: 3%;
    padding-right: 0;
    margin-left: 1.4%;
    padding-bottom: 22.7%;
    height: 93%;
}

.fourth-col {
    padding-left: 0.6%;
    padding-right: 0;
    margin-left: 1.8%;
    padding-bottom: 22.7%;
    height: 93%;
}

#first_2_uc {
    padding-top: 0.5%;
}

#outcome_of_usecase_1_text {
    display: inline;
    position: relative;
    font-size: 19px;
    padding-left: 1.5%;
    top: 0.5rem;

}

#outcome_of_usecase_2_text {
    display: inline;
    position: relative;
    font-size: 19px;
    padding-left: 42.5%;
    top: 0.5rem;
}

.big-column-1-text {
    display: inline;
    position: relative;
    font-size: 19px;
    padding-left: 1.5%;
    top: 2.3rem;
}

.big-column-2-text {
    display: inline;
    position: relative;
    font-size: 19px;
    padding-left: 42.5%;
    top: 2.3rem;
}

#second_2_uc {
    padding-top: 3.4%;
    padding-bottom: 0.8%;
    position: relative;
    bottom: 9.6rem;
}

#third_2_uc {
    padding-top: 3.4%;
    padding-bottom: 0.8%;
    position: relative;
    bottom: 19.2rem;
}

#fourth_2_uc {
    padding-top: 3.4%;
    padding-bottom: 0.8%;
    position: relative;
    bottom: 28.7rem;
}

.outcome_of_uc_sub_title {
    position: relative;
    font-size: 13px;
    top: 0.2rem;
    margin-bottom: -0.58rem;
}

.percent-outcome-of-uc-pie {
    position: relative;
    bottom: 1rem;
}

.outcome-of-usecase-text {
    position: relative;
    bottom: 9.4rem;
}

.outcome-of-usecase-text-2 {
    position: relative;
    bottom: 19rem;
}

.outcome-of-usecase-text-3 {
    position: relative;
    bottom: 28.6rem;
}